node_modules
.firebase
.firebaserc.local
firebase-debug.log
functions/node_modules
web/node_modules
functions/.npm-cache
web/.npm-cache
web/dist
coverage
.DS_Store
.env
.env.local
.env.*
!.env.example
